<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="connectionString_ADO" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Data\DBTest1.mdf;Integrated Security=True" />

		<add name="ClientsEntities" connectionString="metadata=res://*/Data.ClientsModel.csdl|res://*/Data.ClientsModel.ssdl|res://*/Data.ClientsModel.msl;provider=System.Data.SqlClient;
     provider connection string='data source=(LocalDB)\MSSQLLocalDB;attachdbfilename=E:\КПІ\3 Курс\GI\DPGI-2025\Lab5\Data\DBTest1.mdf;
     integrated security=True;MultipleActiveResultSets=True;connect timeout=30;App=EntityFramework'" providerName="System.Data.EntityClient" />
	</connectionStrings>
	<entityFramework>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
</configuration>